asgiref
backports.zoneinfo
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
Django
django-cors-headers
django-environ
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg
idna
importlib-metadata
inflection
itypes
Jinja2
Markdown
MarkupSafe
oauthlib
packaging
Pillow
psycopg2-binary
pycparser
PyJWT
pyparsing
python3-openid
pytz
requests
requests-oauthlib
ruamel.yaml
ruamel.yaml.clib
six
social-auth-app-django
social-auth-core
sqlparse
uritemplate
urllib3
zipp
